<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <div class="container flex flex-col items-center justify-center h-screen w-full">
        <p class="text-3xl font-bold">
            
            Hello, 
            <span class="text-blue-600 font-bold">
                {{ name }}
            </span>
            Welcome back.
        </p>
        <p>
            How can I help you ?
        </p>
    </div>
</body>
</html>